@model Deck
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Lab 28</h1>

<div class="container">

    @if (@HttpContextAccessor.HttpContext.Session.GetString("deckId") == null)
    {
        <div class="alert alert-warning" role="alert">
            <p>No deck found. Click button below for a new deck of cards.</p>
        </div>
    }

    <div>
        <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("NewDeck", "Home")'">Get New Deck</button>
    </div>
    
        @if (@HttpContextAccessor.HttpContext.Session.GetString("deckId") != null)
        {
<div class="alert alert-primary" role="alert">
    <b>Deck Id:</b> @HttpContextAccessor.HttpContext.Session.GetString("deckId")
    <b>Cards Remaining: </b> @HttpContextAccessor.HttpContext.Session.GetInt32("remaining")
    <b>Shuffled: </b>@HttpContextAccessor.HttpContext.Session.GetInt32("shuffled")
</div>
        }


    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("remaining") == 0)
    {
        <div class="alert alert-warning" role="alert">
            <p>No cards remaining in deck.</p>
        </div>
    }

    @if (ViewData["drawnCardsList"] != null)
    {
        <div>
            @foreach (var card in ViewData["drawnCardsList"] as IList<Card>)
            {
                <img src="@card.Image" width="50">
            }
        </div>

    }

    @if (@HttpContextAccessor.HttpContext.Session.GetString("deckId") != null)
    {
        <div>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("DrawCards", "Home")'">Draw 5 Cards</button>
        </div>
    }

</div>









